<head>
  <style>
    a { color: white;
    text-decoration: none;} /* CSS link color */
  </style>
</head>
<div class="footer" align="center">
    Cloud-Native, Powered By: <br>
    <a href="https://k3s.io">k3s</a><a>&nbsp;&nbsp;</a>
    <a href="https://www.docker.com">Docker</a><a>&nbsp;&nbsp;</a>
    <a href="https://www.nginx.com">Nginx</a><a>&nbsp;&nbsp;</a>
    <a href="https://angular.io">Angular</a><a>&nbsp;&nbsp;</a>
    <a href="https://quarkus.io">Quarkus</a><a>&nbsp;&nbsp;</a>
    <a href="https://www.mysql.com">mySql</a><a>&nbsp;&nbsp;</a>
</div>


  

