<head>
  <style>
    a { color: white;
    text-decoration: none;} /* CSS link color */
  </style>
</head>

<div class="content">
  <div class="footer" align="center">   

    <table style="width:60">      
  <tr >
      <th><a routerLink="">
    <img src="assets/earth.png"  width="40" height="40" title="Back to Home !!"/>
  
    </a>
    </th> 
      
    <th><span style="font-weight:normal;">Cloud-Native, Powered By: <br>
    <a>&nbsp;&nbsp;</a><a href="https://k3s.io">k3s</a><a>&nbsp;&nbsp;</a>
    <a href="https://www.docker.com">Docker</a><a>&nbsp;&nbsp;</a> 
    <a href="https://www.nginx.com">Nginx</a><a>&nbsp;&nbsp;</a>
    <a href="https://angular.io">Angular</a><a>&nbsp;&nbsp;</a><br>
    <a href="https://quarkus.io">Quarkus</a><a>&nbsp;&nbsp;</a>
    <a href="https://dotnet.microsoft.com">.NetCore</a><a>&nbsp;&nbsp;</a>
    <a href="https://www.mysql.com">mySql</a><a>&nbsp;&nbsp;</a>
    <a href="https://github.com/BennieMig">gitHub</a><a>&nbsp;&nbsp;</a>    
        </span>
    </th>
    <th><a routerLink="default">
   
    <img src="assets/rocket.png"  width="30" height="40" title="Get me Out !!"/>
    </a>
    </th>
  </tr>
</table>
       
</div>
   </div>   
  





  

