<div class="corpo" align="center">
<div class="container" >
   <div class="content">
       <a routerLink="grafana">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/grafana.png" width="250" height="250" alt="">
      <div class="content-details fadeIn-top">
        <h3>Just Cool Dashboards For The DevOps !!</h3>
      </div>
    </a>
   </div>  
  <div class="content">
       <a routerLink="prometheus">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/prometheus.png" width="250" height="250" alt="">
      <div class="content-details fadeIn-top">
        <h3>Not Saturn's Moon !!</h3>
      </div>
    </a>
   </div>   
  <div class="content">
       <a routerLink="alerts">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/alerts.png" width="250" height="250" alt="">
      <div class="content-details fadeIn-top">
        <h3>Danger, Danger !!</h3>
      </div>
    </a>
   </div>   
  </div>
    </div>





  

