<div class="corpo" align="center">
<div class="container" >
    
      <div class="content">
      <a *ngFor="let quote of quotes">
         <h3>   
             {{quote.quote}} 
             <br>
             <h6> {{quote.fromWho}}</h6>
        </h3>
</a>
   </div>
    
  <div class="content" >
    <img class="content-image" src="assets/maradona.jpg" width="350" height="350" alt="">
   </div>   
 <div class="content">
     <iframe src="https://www.youtube.com/embed/2jDvtSazJxk?autoplay=1" width="400" height="350" picture-in-picture frameborder="0"> </iframe>
   </div>   
  </div>
</div>





  

