<div class="corpo" align="center">
<div class="container" >
  <div class="content">
      <a *ngFor="let apod of apods">
         <h3>   
             {{apod.title}} 
             <br>
             <h6>Source: NASA - Astronomy Picture of the Day</h6>
        </h3>
</a>
   </div>
    
     
  <div class="content">
     
      <a *ngFor="let apod of apods">
      <img class="content-image" src="{{apod.url}}" width="400" height="400">
      
    </a>
   </div>   
  <div class="content">
    <a *ngFor="let apod of apods">
         <h6>   
         {{apod.explanation}}
        </h6>
</a>
  </div>    
    
    

  </div>
    </div>





  

