<div class="corpo" align="center">
<div class="container" >
  <div class="content">
      <a *ngFor="let apod of apods">
         <h3>   
         {{apod.title}}
        {{apod.explanation}}
        </h3>
</a>
   </div>
    
     
  <div class="content">
     
      <a *ngFor="let apod of apods">
      <img class="content-image" src="{{apod.url}}" width="350" height="350">
      
    </a>
   </div>   
  <div class="content">
     <a routerLink="universe">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/gaze.jpg" width="250" height="250">
      <div class="content-details fadeIn-top">
        <h3>Lets See The Universe !!</h3>
      </div>
    </a>
  </div>    
    
    

  </div>
    </div>





  

