<div class="corpo" align="center">
<div class="container" >
      <div class="content">
       <a routerLink="goat">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/goat.jpg" width="250" height="250" alt="">
      <div class="content-details fadeIn-top">
        <h3>There can be only one G.O.A.T !!</h3>
      </div>
    </a>
   </div>
  <div class="content">
       <a routerLink="queues">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/queue.png" width="250" height="250" alt="">
      <div class="content-details fadeIn-top">
        <h3>Get Me The Queues !!</h3>
      </div>
    </a>
   </div>   
  <div class="content">
     <a routerLink="universe">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/gaze.jpg" width="250" height="250" alt="">
      <div class="content-details fadeIn-top">
        <h3>Lets See The Universe !!</h3>
      </div>
    </a>
  </div>
  <div class="content">
           <a routerLink="interface">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/interface.png" width="250" height="250" alt="" >
      <div class="content-details fadeIn-top">
        <h3>Show Me The A.P.Is !!</h3>
      </div>
    </a>
   </div>    
    
</div>   
  
</div> 


  

