<div class="corpo" align="center">
<div class="container" >
  <div class="content">
    <a href="https://localhost" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/queue.png" width="250" height="250">
      <div class="content-details fadeIn-top">
        <h3>Show Me The Queues !!</h3>
      </div>
    </a>
   </div>   
  <div class="content">
    <a href="https://localhost" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="/assets/gaze.jpg" width="250" height="250">
      <div class="content-details fadeIn-top">
        <h3>Show Me The Universe !!</h3>
      </div>
    </a>
  </div>
</div>   
    </div>



  

