
<div class="corpo" align="center"> 

<div class="container" >
 <!--   <div class="content">    
       <embed src="/jms-monitor-app/q/swagger-ui"  style="width:100%" height="450" frameborder="0" allowfullscreen  >
 </div> -->
    
      <div class="content">
       <a routerLink="alertemail">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/alertemail.png" width="250" height="250" alt="">
      <div class="content-details fadeIn-top">
        <h3>You Got Email Alert !!</h3>
      </div>
    </a>
   </div>
    
    <div class="content">
       <a routerLink="alertweb">
      <div class="content-overlay"></div>
      <img class="content-image" src="assets/alertweb.png" width="250" height="250" alt="">
      <div class="content-details fadeIn-top">
        <h3>Prefer Browser Alert !!</h3>
      </div>
    </a>
   </div>
    
</div>
</div>








  

